{% set title = "КМС квиз Плюшевой наковальни" %}
{% include "components/header.html" %}
    <link rel="stylesheet" type="text/css" href="/styles/index.css?v={{version}}">
</head>
<body ondragstart="return false">
    {% include "components/menu.html" %}

    <div class="content">
        <div class="logo">
            <img src="/images/logo.svg">
        </div>

        <div class="logo-text">КМС ПРИЛОЖЕНИЕ</div>

        <div class="slogan">Тренируйся угадывать кино, мультфильмы и сериалы и улучшай свои медийные знания!</div>

        <div class="mode">
            <div class="mode-title">ТРЕНИРОВКА</div>
            <div class="mode-description">Угадай кино, мультфильм или сериал по кадру, описанию или даже факту!</div>
            <a class="basic-button gradient-button" href="/question">НАЧАТЬ ТРЕНИРОВКУ</a>
        </div>

        <div class="mode">
            <div class="mode-title">МИНИ-КВИЗЫ</div>
            <div class="mode-description">Небольшие туры на 10-20 вопросов по различным тематикам уже ждут тебя! Выбирай интересную тему и механику и вперёд!</div>
            <a class="basic-button gradient-button" href="/quiz-tours">ВЫБРАТЬ МИНИ-КВИЗ</a>
        </div>
    </div>

    <script src="/js/utils/utils.js?v={{version}}"></script>
    <script src="/js/utils/fetch.js?v={{version}}"></script>

    {% include "components/footer.html" %}
</body>
</html>
